<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>是否显示</title>
    </head>
    <body>
        <!--
            v-if: 为false，包含v-if指令的元素，根本不会存在dom中
            v-show: 为false，v-show只是给元素添加行内样式，display: none
        -->>
        <div id="app">
            <h1 v-if="true">{{message}}</h1>
            <h1 v-if="false">{{message}}</h1>
            <h2 v-show="true">{{message}}</h2>
            <h2 v-show="false">{{message}}</h2>
        </div>

        <script src="../js/vue.js"></script>
        <script>
            // let(变量)/const(常量)
            const app = new Vue({
                el: '#app', // 用于挂载要管理的元素
                data: { // 定于数据
                    message: "你好，vue.js",
                    name: "jusene"
                }
            })
        </script>
    </body>
</html>