<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>radio</title>
    </head>
    <body>
        <div id="app">
        <label for="man">
            <input type="radio" v-model="sex" name="sex" id="man" value="男">男
        </label>
        <label for="woman">
            <input type="radio" v-model="sex" name="sex" id="woman" value="女">女
        </label>
        <h1>{{sex}}</h1>
        </div>

        <script src="../js/vue.js"></script>
        <script>
            // let(变量)/const(常量)
            const app = new Vue({
                el: '#app', // 用于挂载要管理的元素
                data: { // 定于数据
                    message: "你好，vue.js",
                    name: "jusene",
                    sex: '男'
                }
            })
        </script>
    </body>
</html>